
<!DOCTYPE html>
{% load static %}
<html>
<head>

  <title>Snake game</title>

   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css"  href="{% static "css/base.css" %}"> <!-- CSS -->
      <link rel="stylesheet" type="text/css"  href="{% static "css/index.css" %}"> <!-- CSS -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script>
   $( document ).ready(function() {

     $("#popUpRegister").modal('show');

   });


   $( document ).ready(function() {
     $("#popUpWindow").modal('show');

   });
</script>
</head>

<body>


  <div id="content">

          {% block content %}
          {% endblock %}
  </div>

  <div class="iframe-wrapper">
    <iframe src="https://player.vimeo.com/video/175698023?autoplay=1&loop=0&byline=0&title=0">
  </div>

</body>
</html>
