{% extends "base.html" %}


{% block content %}
 <div class="row">
 </div>
 <div class="row">
   <div class="col-md-12 content">
       <div class="col-md-5 col-md-offset-1 pano-transparant">
         <div class="user-profile ">
               <div class="col-md-12 text-info">

                 <p>Hello, {{ user.username }}!</p>
               </div>
               <div class="col-md-12 user-info">

                 <p>Hello, {{ user.username }}!</p>
                 <p>Hello, {{ user.username }}!</p>
                 <p>Hello, {{ user.username }}!</p>
                 <p>Hello, {{ user.username }}!</p>
                 <p>Hello, {{ user.username }}!</p>
               </div>

               <div>
                     <form action="/lobby/new/" method="POST">
                         {% csrf_token %}
                         <input class="btn btn-primary btn-block" type="submit" value="Create Lobby" />
                    </form>
              </div>
          </div>
       </div>
       <div class="col-md-5 col-md-offset-1 pano-transparant">
         <div class="list-lobby info-panel ">
           <div>
             <div class="col-md-12 text-info">
               <p>LOBBIES</p>
            </div>
            <ul class="user-list">
              {% for lobby in lobbies %}
            <li class="list-text">  <a href="/lobby/{{ lobby.id}}" class="user-list">Lobby {{ lobby.id }} </a></li>
              {% endfor %}
            </ul>

          </div>
     </div>
   </div>
   </div>
 </div>
{% endblock %}
