{% extends "base.html" %}


{% block content %}
 <div class="row">
 </div>
 <div class="row">
   <div class="col-md-12 content">
       <div class="col-md-5 col-md-offset-1 pano-transparant">
         <div class="user-profile ">
               <div class="col-md-12 text-info">
                 <p class="user">Hello, {{ user.username }}!</p>
                 <form class="user" action="/account/login" method="GET">
                     {% csrf_token %}
                     <input class="btn btn-primary user logout-btn" type="submit" value="Logout" />
                </form>
               </div>
               <div class="col-md-12 user-info">
                 <p>Count of your game: {{ user.profile.games_played }}</p>
                 <p>You win game: {{ user.profile.games_won }}</p>
                 <p>Games played: {{ user.profile.games_played }}</p>
                 <p>Choose lobby ----------></p>
                 <p>or</p>
               </div>

               <div>
                     <form action="/lobby/new/" method="POST">
                         {% csrf_token %}
                         <input class="btn btn-primary btn-block" type="submit" value="Create Lobby" />
                    </form>
              </div>
          </div>
       </div>
       <div class="col-md-5 col-md-offset-1 pano-transparant">
         <div class="list-lobby info-panel ">
           <div>
             <div class="col-md-12 text-info">
               <p>LOBBIES</p>
            </div>
            <ul class="user-list">
              {% for lobby in lobbies %}
           <div class="col-md-12 lobby-background">
            <li class="list-text">  <a href="/lobby/{{ lobby.id}}" class="user-list">Lobby {{ lobby.id }} </a></li>
          </div>
              {% endfor %}
            </ul>

          </div>
     </div>
   </div>
   </div>
 </div>
{% endblock %}
