{% extends "base.html" %}


{% block content %}

{% block javascript %}
<script>
    var lobby_id = {{ lobby.id  }}
    setInterval(function(){
    data = $.getJSON('/lobby/update_users_ajax', {'lobby_id': lobby_id}, function(data){
    users_arr = []
    $("#users").html("");
    data.forEach(function(user){
        console.log(user.user)
        users_arr.push(user.user)
            }
        )
    // This part formats users in front-end
    var users = users_arr;
            for (var i = 0; i < users.length; i++) {
                var elem = '<div class="row"><h4 class="user-list">' + users[i] + ' </h4></div>';

                $('#users').append(elem);
            }
    })
    }, 2000)



 </script>
{% endblock %}

 <div class="row">
 </div>
 <div class="row">
   <div class="col-md-12 col-md-offset-2 content">
       <div class="col-md-5 col-md-offset-1 pano-transparant">
         <div>
           <div class="col-md-12">

             <form action="" method="POST">
                 {% csrf_token %}
                 <input class="btn btn-primary btn-block"  type="submit" value="Invite friends" />
             </form>
           </div>
           <div>

                   <form action="/lobby/leave/{{ lobby.id }}" method="POST">
                     {% csrf_token %}
                       <input class="btn btn-primary btn-block" type="submit" value="Exit lobby" />
                   </form>
          </div>
          </div>
       </div>
       <div class="col-md-5 col-md-offset-1 pano-transparant">
         <div class="list-lobby info-panel ">
           <div class="col-md-12 text-info">
             <p>USERS</p>
           </div>
           <ul id="users">
             {% for user in lobby.users.all %}
               {% csrf_token %}
             <li><h4  class="user-list"> {{ user.username }} </h4></li>
             {% endfor %}
           </ul>
            <form action="/game" method="GET">
                {% csrf_token %}
                <input class="btn btn-primary btn-block" type="submit" value="START GAME" />
              </form>
          </div>
     </div>
   </div>
   </div>
 </div>
{% endblock %}
