{% extends "base.html" %}


{% block content %}

{% block javascript %}
<script>
    var lobby_id = {{ lobby.id  }}
    setInterval(function(){
    data = $.getJSON('/lobby/update_users_ajax', {'lobby_id': lobby_id}, function(data){
    users_arr = []
    $("#users").html("");
    data.forEach(function(user){
        console.log(user.user)
        users_arr.push(user.user)
            }
        )

    var users = users_arr;
            for (var i = 0; i < users.length; i++) {
                var elem = '<div class="row"><h4 class="user-list">' + users[i] + ' </h4></div>';

                $('#users').append(elem);
            }
    })
    }, 2000)



 </script>
{% endblock %}

 <div class="row">
 </div>
 <div class="row">
   <div class="col-md-12 col-md-offset-2 content">
       <div class="col-md-5 col-md-offset-1 pano-transparant">
         <div>
           <div class="col-md-12">
             <form action="" method="POST">
                 {% csrf_token %}
                 <input class="btn btn-primary btn-block"  type="submit" value="Invite friends" />
             </form>
           </div>
           <div class="col-md-12 user-info">

             <p>You are in lobby: {{ user.profile.lobby_id }}</p>
           </div>
           <div class="col-md-12">
           <pre>
             Lorem ipsum dolor sit amet, sodales eget wisi,
             massa justo dui sed pharetra, metus aliquet,
             arcu nunc viverra. Aliquam consequat augue quam sed orci,
             praesent sed urna quis wisi. Nisl consectetuer et hymenaeos
            ligula integer, elementum suspendisse ut turpis vel pharetra.
            At morbi, aliquam morbi nam enim placerat enim ridiculus.
             Ultricies etiam, ullamcorper mi lacinia. Elit vulputate et enim,
                                  varius
              dis viverra ac sodales maecenas aptent. Porttitor metus nunc vel
              donec sed elementum, sed in sapien, tortor nonummy eros vestibulum
              congue vel. Urna faucibus et iaculis pretium voluptas, dignissimos
           </pre>
         </div>
           <div class="col-md-12">
               <form action="/lobby/leave/{{ lobby.id }}" method="POST">
                 {% csrf_token %}
                   <input class="btn btn-primary btn-block" type="submit" value="Exit lobby" />
               </form>
          </div>
          </div>
       </div>
       <div class="col-md-5 col-md-offset-1 pano-transparant">
         <div class="list-lobby info-panel ">
           <div class="col-md-12 text-info">
             <p>USERS</p>
           </div>
           <ul id="users" class="user-info">
             {% for user in lobby.users.all %}
               {% csrf_token %}
             <li><h4  class="user-list"> {{ user.username }} </h4></li>
             {% endfor %}
           </ul>
           <div class="col-md-12">
            <form action="new" method="GET">
                {% csrf_token %}
                <input class="btn btn-primary btn-block  btn-lg" type="submit" value="START GAME" />
              </form>
            </div>
          </div>
     </div>
   </div>
   </div>
 </div>
{% endblock %}
